body {
  background: #19377D;
  color: #fff;
}

.navbar {
  border-bottom: #ffffff 3px solid;
  opacity: 0.9;
  font-size: 1.4rem;
}


.navbarCollapse.in {
  display: block !important;
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

#home-section {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}

#home-section .dark-overlay {
  
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  /*background: rgba(25,55,125, 0.8);*/
  background: rgba(191,10,48, 0.8);
}

#home-section .home-inner {
  padding-top: 50px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#about .fas,
#share-section .fas {
  background: #fff;
  color: #333;
  padding: 5px;
  border-radius: 5px;
}



.carousel-item {
  height: 500px;
}

.carousel-image-8 {
  background: url(../img/img001.jpg);
  background-size: cover;
}

.carousel-image-1 {
  background: url(../img/img.jpg);
  background-size: cover;
}

.carousel-image-2 {
  background: url(../img/image2.jpg);
  background-size: cover;
}

.carousel-image-3 {
  background: url(../img/img3.jpg);
  background-size: cover;
}

.carousel-image-4 {
  background: url(../img/edu.jpg);
  background-size: cover;
}

.carousel-image-5 {
  background: url(../img/img002.jpg);
  background-size: cover;
}

.carousel-image-6 {
  background: url(../img/img003.jpg);
  background-size: cover;
}


.carousel-image-7 {
  background: url(../img/cam.jpg);
  background-size: cover;
}


.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; 
}

#about img {
  margin-top: -50px;;
}

#about .card {
  background: #19377D;
  color: #fff;
  height: 400px;
 }

#about .card :hover {
  background: #333;
  color: #fff; }

  
  #about-head-section {
  
    background: #ffffff;
    color: #333;
  }

  .cards {
    background: url(../img/img003.jpg);
  }